@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
::-webkit-scrollbar{
  display: none;
}

:root {
  font-family: 'Fira Sans', sans-serif;
  --bg-color: white;
  --light-blue: rgb(170, 216, 231);
  --main-color: rgb(19, 19, 19);
  --alt-color: rgb(252, 160, 0);
  --error-color: rgb(217, 68, 68);
  --splash-color: rgb(255, 194, 72);
  --splash-color-dark: rgb(255, 132, 0);
  --highlight-color: white;
  --font-bold: 700;
}
body {
  margin: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  color: var(--main-color);
}

/* HOME PAGE */
#homepage{
  margin: 0rem 15rem 0rem 15rem;
}
.home-bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  padding: 0.5rem;
  opacity: 0.5;
}
.home-slogan{
  font-size: 5.5rem;
  font-weight: var(--font-bold);
}
.slogan-md {
  font-size: 3rem;
}
.splash-color{
  color: var(--alt-color);
}
#home-intro{
  padding-top: 15rem;
}
.home-pitch{
  padding-top: 3rem;
  width: 50rem;
  font-size: 20px;
}
.home-intro-buttons{
  font-family: 'Fira Sans', sans-serif;
  appearance: none;
  border: none;
  background: none;
}
.home-intro-buttons:hover{
  cursor: hover;
  color: var(--alt-color);
}
.splash-button{
  appearance: none;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--splash-color);
}
.splash-button:hover{
  cursor: pointer;
  background-color: var(--splash-color-dark);
}
#home-sponsers{
  padding-top: 10rem;
  font-size: 1.3rem;
  text-align: center;
}
#home-docs{
  padding-top: 5rem;
}
#home-logos{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.logo-placeholder{
  text-align: center;
  width: 15rem;
  height: 10rem;
  background-color: var(--alt-color);
  border-radius: 0.5rem;
}
#home-howto{
  width: 100%;
  height: 60rem;
  background-color: var(--main-color);
  color: white;
}
#home-howto-container{
  margin: 0 15rem 0 15rem;
}
/* NAVBAR */

#navbar {
  position: relative;
  background-color: var(--light-blue);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-buttons{
  font-family: 'Fira Sans', sans-serif;
  font-size: medium;
  border: none;
  appearance: none;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  color: var(--main-color);
}
.nav-buttons:hover{
  color: var(--highlight-color);
  cursor: pointer;
}
.profile-icon{
  width: 3rem;
}
.profile-icon:hover {
  filter: invert(1);
}
.nav-products, .nav-search-bar, .nav-accounts {
  width: 20rem;
}
.nav-accounts{
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-home{
  font-size: larger;
}
.nav-search{
  appearance: none;
  border: none;
  padding: 10px;
  border-radius: 0.2rem;
  width: 15rem;
}
.nav-menu-title{
  font-size: 20px;
  font-weight: var(--font-bold);
}
#nav-menu-modal{
  position: absolute;
  top: 5.5rem;
  right: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-blue);
}
#services-modal{
  position: absolute;
  z-index: 10;
  top: 5.5rem;
  left: 8rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-blue);
}
#docs-modal{
  position: absolute;
  z-index: 10;
  top: 5.5rem;
  left: 13.5rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-blue);
}
#company-modal{
  position: absolute;
  z-index: 10;
  top: 5.5rem;
  left: 18rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-blue);
}
#symbol-search-results{
  position: absolute;
  z-index: 10;
  top: 5rem;
  left: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-blue);
}
#symbol-serach-container{
  position: relative;
}
#symbol-search-results-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.symbol-card{
  background-color: var(--splash-color);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 7rem;
}
.symbol-card:hover{
  cursor: pointer;
  transform: scale(110%);
}
.result-description{
  font-size: 14px;
  font-weight: 500;
}
.result-symbol{
  font-size: 12px;
  font-weight: 500;
}
.domain-color{
  color: var(--highlight-color)
}
.symbol-result-close{
  appearance: none;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
}
.symbol-result-close:hover{
  cursor: pointer;
}

/* PROFILE PAGE */

#profile-page{
  text-align: start;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 5rem;
}
.profile-icon-name{
  display: flex;
  align-items: center;
}
.profile-image-container{
  border-radius: 50%;
  width: 10rem;
  aspect-ratio: 1;
  overflow: hidden;
}
.profile-image{
  width: 12rem;
}
#save-stock {
  background-color: var(--main-color);
  color: white;
  height: 30rem;
}
#save-stock-content{
  margin-left: 15rem;
  margin-right: 15rem;
}
#save-stock-container{
  display: flex;
}
.save-stock-form{
  margin-top: 3rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
}
.save-stock-form > label{
  font-size: 0.8rem;
}
.save-info{
  margin-top: 3rem;
  margin-left: 5rem;
  font-size: 2.5rem;
  width: 25rem;
}
.user-text{
  position: relative;
}
.user-name{
  margin-left: 2rem;
  font-size: 3rem;
  font-weight: var(--font-bold);
}
.profile-title{
  font-size: 3rem;
  font-weight: var(--font-bold);
  border-bottom: 2px solid var(--highlight-color);
}
.user-handle{
  margin-left: 3rem;
}
.user-update-button{
  position: absolute;
  right: 0;
}
.profile-favorites{
  margin-top: 5rem;
  height: 30rem;
}
.profile-stock-list{
  display: flex;
}
.profile-stock-card{
  width: 15rem;
  height: 5rem;
  background-color: var(--light-blue);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
/* LOGIN MODAL */

#loginModalContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
#loginModal {
  text-align: center;
  margin: 15rem;
  padding: 1rem;
  width: fit-content;
  background-color: white;
  border: 1px solid var(--light-blue);
  box-shadow: 2px 2px 5px var(--light-blue);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 20;
}
#loginForm {
  display: flex;
  flex-direction: column;
}
.loginInput {
  appearance: none;
  border: 1px solid var(--light-blue);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
#create-account-button{
  appearance: none;
  border: none;
  background-color: var(--light-blue);
  border-radius: 0.2rem;
  color: var(--main-color);
}
#create-account-button:hover{
  cursor: pointer;
  background-color: var(--alt-color);
  transition: 500ms;
}

/* CREATE ACCOUNT MODAL */

#create-account-container{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

#create-account-card{
  text-align: center;
  margin: 15rem;
  padding: 1rem;
  width: fit-content;
  background-color: var(--bg-color);
  border: 1px solid var(--light-blue);
  box-shadow: 2px 2px 5px var(--light-blue);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 20;
}
#create-account-form{
  display: flex;
  flex-direction: column;
}

/* UPDATE ACCOUNT MODAL */

#update-account-container{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30rem;
  position: relative;
  text-align: center;
}
#update-account-card{
  margin: 1rem;
  padding: 1rem;
  width: fit-content;
  background-color: var(--bg-color);
  border: 1px solid var(--light-blue);
  box-shadow: 2px 2px 5px var(--light-blue);
  border-radius: 0.2rem;
  position: absolute;
  z-index: 10;
}

/* COMMON CLASSES */
.icons{
  width: 20px;
}
.account-forms{
  display: flex;
  flex-direction: column;
}
.input {
  appearance: none;
  border: 1px solid var(--light-blue);
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.submitButton {
  appearance: none;
  font-weight: 600;
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: var(--light-blue);
  color: white;
}
.submitButton:hover{
  background-color: var(--alt-color);
  cursor: pointer;
  transition: 500ms;
}
.loading-icon{
  width: 10px;
  height: 40px;
  background-color: var(--alt-color);
  animation-duration: 1s;
  animation-name: spin;
  animation-iteration-count: infinite;
}
.close-button{
  appearance: none;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  rotate: 0deg;
}
.close-button > img{
  width: 2rem;
  rotate: 0;
  transition: 1000ms;
}
.close-button:hover > img{
  cursor: pointer;
  rotate: 360deg;
  transition: 1000ms;
}
@keyframes spin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
.error-message{
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--error-color);
  color: var(--main-color);
}
#background-blur{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 110vw;
  height: 200vh;
  backdrop-filter: blur(3px);
}
/* MARKET NEWS */

#market-news{
  height: fit-content;
}
#news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.news-intro-headline{
  font-size: 5rem;
  font-weight: var(--font-bold);
  margin-left: 5rem;
  margin-right: 5rem;
  border-bottom: 2px solid black;
}
.news-card{
  width: fit-content;
  margin: 0.5rem;
  height: 20rem;
  padding: 0.2rem;
  width: 25rem;
  border-radius: 0.3rem;
  overflow: hidden;
  position: relative;
  background-color: white;
  transition: 200ms;
}
.news-card:hover{
  cursor: pointer;
  filter:brightness(1.1);
  transform: scale(105%);
  transition: 200ms;
}
.news-image{
  position: absolute;
  border-radius: 0.5rem;
  z-index: 1;
  height: 15rem;
}
.news-headline{
  text-align: center;
  font-weight: 600;
  color: black;
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  position: relative;
  z-index: 2;
}
.news-summary{
  font-size: 12px;
  color: gray;
  background-color: white;
  position: relative;
  z-index: 2;
  opacity: 1;
}
.news-link{
  font-size: 10px;
  background-color: white;
}
.news-meta{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background-color: white;
}
.news-source{
  background-color: white;
  text-align: end;
  font-size: 12px;
  font-weight: 500;
  position: inherit;
  z-index: 2;
}
.tag{
  font-size: 10px;
  color: gray;
}
.news-date{
  background-color: white;
  text-align: end;
  margin-right: 0.2rem;
  font-size: 12px;
  font-weight: 500;
}
.news-text{
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 100%;
  background-color: white;
}

/* STOCKS PAGE */

#stocks-page{
  margin: 5rem;
  background-color: white;
}
.stock-spotlight{
  font-size: 5rem;
  font-weight: var(--font-bold);
  border-bottom: 2px solid black;
}

.stock-search{
  font-size: 5rem;
  font-weight: var(--font-bold);
  border-bottom: 2px solid black;
}

.ticker-name{
  font-size: 4rem;
  font-weight: var(--font-bold);
}
/* PRICING PAGE */

#pricing-page{
  margin: 15rem 15rem 0rem 15rem;
}
.pricing-slogan{
  font-size: 50px;
  font-weight: var(--font-bold);
}
#pricing-container{
  display: flex;
  justify-content: center;
  padding: 5rem;
  gap: 2rem;
}
.price-card{
  border: 1px solid var(--light-blue);
  width: 15rem;
  height: 30rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 10px 10px 20px 2px gray;
  text-align: center;
  position: relative;
}
.price-title {
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid var(--light-blue);
  padding-bottom: 0.5rem;
}
.price-description{
  height: 2rem;
  font-size: 15px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.price-price{
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 1rem;
}
.price-price-month{
  font-size: 15px;
}
.price-access{
  text-align: start;
  padding-left: 1rem;
}
.price-usage{
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 1rem;
  font-weight: 500;
}

/* CONTACT PAGE */

#contact-page{
  padding: 10rem 15rem 5rem 15rem;
}
.contact-slogan{
  font-size: 55px;
  font-weight: 700;
}
#contact-email{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.contact-titles{
  font-size: 30px;
  font-weight: 600;
}
.contact-email-card{
  padding: 1rem;
  width: 25rem;
  height: 15rem;
  border-radius: 0.5rem;
}
#contact-cards{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.contact-card{
  background-color: var(--light-blue);
  padding: 1rem;
  width: 20rem;
  height: 15rem;
  border-radius: 0.5rem;
}


/* FOOTER */

#footer{
  height: 10rem;
  width: 100%;
  padding: 5rem;
  display: flex;
  background-color: var(--light-blue);
  gap: 5rem;
}
.footer-logo{
  font-size: 35px;
  font-weight: 600;
}
.footer-titles{
  font-size: 30px;
  font-weight: 600;
}
